/* line 2, ../../app/stylesheets/editor.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 90%;
  background-color: #EEEEEE;
}

/* line 9, ../../app/stylesheets/editor.scss */
html {
  overflow: auto;
}

/* line 12, ../../app/stylesheets/editor.scss */
textarea {
  font-family: monospace;
}

/* line 15, ../../app/stylesheets/editor.scss */
input#post_title {
  width: 440px;
  font-size: 1.5em;
}

/* line 20, ../../app/stylesheets/editor.scss */
#header {
  margin: 0;
  padding: 0;
  text-align: right;
  margin-bottom: 0;
  margin-right: 2em;
  margin-top: 0.4em;
  color: #000000;
}
/* line 28, ../../app/stylesheets/editor.scss */
#header * {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-weight: 100;
}
/* line 33, ../../app/stylesheets/editor.scss */
#header a {
  color: #2255BB;
  text-decoration: none;
  position: relative;
  z-index: 20;
}
/* line 38, ../../app/stylesheets/editor.scss */
#header h1 a:hover {
  color: #000000;
}
/* line 41, ../../app/stylesheets/editor.scss */
#header h4 a:hover {
  text-decoration: underline;
}

/* line 45, ../../app/stylesheets/editor.scss */
#edit-panel, #preview-panel {
  margin: 0;
  padding: 0;
  position: relative;
  width: 47.5%;
}

/* line 52, ../../app/stylesheets/editor.scss */
#preview-panel {
  margin-top: 30px;
}

/* line 56, ../../app/stylesheets/editor.scss */
#edit-panel {
  float: left;
  left: 1.5%;
}

/* line 60, ../../app/stylesheets/editor.scss */
#preview-panel {
  float: right;
  right: 1.5%;
}
/* line 63, ../../app/stylesheets/editor.scss */
#preview-panel > * {
  float: right;
}

/* line 66, ../../app/stylesheets/editor.scss */
.paneHeader {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  display: block;
  height: 2.5em;
}
/* line 73, ../../app/stylesheets/editor.scss */
.paneHeader * {
  position: relative;
  font-weight: 900;
}
/* line 76, ../../app/stylesheets/editor.scss */
.paneHeader span {
  float: left;
  color: #000000;
  font-size: 110%;
}

/* line 83, ../../app/stylesheets/editor.scss */
#paneSetting {
  margin-left: auto;
  margin-right: 0.5em;
  margin-top: 5px;
  font-size: 120%;
  font-weight: 900;
  font-family: Arial, Verdana, sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}

/* line 94, ../../app/stylesheets/editor.scss */
.pane {
  margin: 0;
  padding: 0;
  padding-left: 4px;
  /* pane padding */
  width: 100%;
  border: none;
  background-color: #FFFFFF;
  display: block;
  border: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  	/* note: the panes get their height set with
         javascript; see sizeTextAreas(). */
  /* for now, set a height so things look nice
     if the user has javascript disabled */
  height: 400px;
}

/* line 112, ../../app/stylesheets/editor.scss */
#previewPane {
  background-color: #DDDDDD;
}

/* line 116, ../../app/stylesheets/editor.scss */
#outputPane {
  background-color: #DDDDDD;
  color: #fff;
  display: none;
}

/* line 121, ../../app/stylesheets/editor.scss */
#syntaxPane {
  background-color: #DDDDDD;
  display: none;
}

/* line 125, ../../app/stylesheets/editor.scss */
div.pane {
  overflow: auto;
}

/* line 128, ../../app/stylesheets/editor.scss */
#inputPane {
  background-color: #FFFFFF;
}

/* line 131, ../../app/stylesheets/editor.scss */
#previewPane {
  padding: 0;
}
/* line 2, ../../app/stylesheets/_post_base.scss */
#previewPane h1 a {
  color: inherit;
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px dashed #dba;
  font-weight: bold;
}
/* line 13, ../../app/stylesheets/_post_base.scss */
#previewPane .date {
  padding: 0.4em 0.6em 0.3em;
  font-weight: bold;
  color: white;
  text-align: right;
  color: #000;
}
/* line 24, ../../app/stylesheets/_post_base.scss */
#previewPane .warning {
  background: #f9d9d8 url(/stylesheets/images/tab_red.gif) no-repeat left top;
  border: none;
  padding: 1.25em 1.25em 1.25em 48px;
  margin-left: 0;
  margin-top: 0.25em;
}
/* line 32, ../../app/stylesheets/_post_base.scss */
#previewPane .info {
  background: #d5e9f6 url(/stylesheets/images/tab_info.gif) no-repeat left top;
  border: none;
  padding: 1.25em 1.25em 1.25em 48px;
  margin-left: 0;
  margin-top: 0.25em;
}
/* line 40, ../../app/stylesheets/_post_base.scss */
#previewPane .code_container {
  background: #eeeeee url(/stylesheets/images/tab_grey.gif) no-repeat left top;
  padding: 0.25em 1em 0.5em 48px;
}
/* line 45, ../../app/stylesheets/_post_base.scss */
#previewPane .work-in-progress, #previewPane .note {
  background: #fff9d8 url(/stylesheets/images/tab_note.gif) no-repeat left top;
  border: none;
  padding: 1.25em 1.25em 1.25em 48px;
  margin-left: 0;
  margin-top: 0.25em;
}
/* line 53, ../../app/stylesheets/_post_base.scss */
#previewPane table {
  margin: 0 0 1.5em;
  border: 2px solid #CCC;
  background: #FFF;
  border-collapse: collapse;
}
/* line 60, ../../app/stylesheets/_post_base.scss */
#previewPane table th, #previewPane table td {
  padding: 0.25em 1em;
  border: 1px solid #CCC;
  border-collapse: collapse;
}
/* line 66, ../../app/stylesheets/_post_base.scss */
#previewPane table th {
  border-bottom: 2px solid #CCC;
  background: #EEE;
  font-weight: bold;
  padding: 0.5em 1em;
}
/* line 73, ../../app/stylesheets/_post_base.scss */
#previewPane pre {
  background: #EEE;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  color: black;
  line-height: 120%;
  font-family: "Consolas","Courier New",Courier,mono;
  font-size: 12px;
  letter-spacing: 0;
  margin: 1em 0px;
}
/* line 86, ../../app/stylesheets/_post_base.scss */
#previewPane ol {
  display: block;
  list-style-type: decimal;
  padding-left: 40px;
}
/* line 91, ../../app/stylesheets/_post_base.scss */
#previewPane ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 40px;
}
/* line 97, ../../app/stylesheets/_post_base.scss */
#previewPane li {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 135, ../../app/stylesheets/editor.scss */
#previewPane > * {
  margin-left: 4px;
  margin-right: 4px;
}
/* line 138, ../../app/stylesheets/editor.scss */
#previewPane > blockquote {
  margin-left: 3em;
}
/* line 140, ../../app/stylesheets/editor.scss */
#previewPane > :first-child {
  margin-top: 4px;
  /* pane padding */
}
/* line 143, ../../app/stylesheets/editor.scss */
#previewPane * {
  line-height: 1.4em;
}
/* line 145, ../../app/stylesheets/editor.scss */
#previewPane code {
  font-size: 1.3em;
}

/* line 148, ../../app/stylesheets/editor.scss */
#footer {
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 100%;
  height: 2.5em;
  margin-top: 0.5em;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
/* line 157, ../../app/stylesheets/editor.scss */
#footer a {
  text-decoration: none;
  color: #000000;
}
/* line 160, ../../app/stylesheets/editor.scss */
#footer a:hover {
  text-decoration: underline;
}

/* line 163, ../../app/stylesheets/editor.scss */
#byline {
  padding-left: 2em;
  color: #000000;
}

/* line 167, ../../app/stylesheets/editor.scss */
#convertTextControls {
  position: absolute;
  right: 1px;
}

/* line 172, ../../app/stylesheets/editor.scss */
#convertTextButton {
  line-height: 1em;
  background-color: #ccbfbf;
  color: #000000;
  border: none;
}
/* line 177, ../../app/stylesheets/editor.scss */
#convertTextButton:hover {
  background-color: #FFFFFF;
  color: black;
}

/* line 181, ../../app/stylesheets/editor.scss */
#convertTextSetting {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}

/* line 186, ../../app/stylesheets/editor.scss */
#processingTime {
  margin: 0;
  padding: 0;
  width: 4em;
  text-align: right;
  color: #000000;
  position: absolute;
  right: 1em;
  top: 0;
}
